<section id="namespaces">
    <h2>Namespaces used in this Document</h2>
    <table>
        <thead>
            <tr>
                <th>NamespaceURI</th>
                <th>Namespace Index</th>
                <th>Example</th>
            </tr>
        <tbody>
            {{#each namespaces}}
            <tr>
                <td>{{this.uri}}</td>
                <td>{{this.id}}</td>
                <td>{{this.id}}:Example</td>
            </tr>
            {{/each}}
        </tbody>
        </thead>
    </table>
</section>